h3
{
    font_size: 25px !important;
}
.btn_success:hover
{
    background-color :red;
}
canvas {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px whitesmoke;}
    from{box-shadow: 1px 1px 38px white;}
}